node_modules/
lerna-debug.log
asta/
npm-debug.log
packages/*/lib
*/*/lib
.idea
.vscode
.env
packages/*/.env
packages/*/node_modules/
*/node_modules/
*/cypress/videos
*/cypress/screenshots
*/.nyc_output
packages/auth-delegate/
packages/web-components/
**/.nyc_output